In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [42]:
data = pd.read_csv('C:\project\skillf\project_ilya-\module_1/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
644,tt0838283,65000000,128107642,Step Brothers,Will Ferrell|John C. Reilly|Mary Steenburgen|R...,Adam McKay,They grow up so fast.,Brennan Huff and Dale Doback might be grown me...,98,Comedy,Columbia Pictures|Mosaic Media Group|Gary Sanc...,7/25/2008,6.6,2008
668,tt0811080,120000000,93945766,Speed Racer,Emile Hirsch|Christina Ricci|Matthew Fox|Susan...,Lana Wachowski|Lilly Wachowski,Go!,Speed Racer is the tale of a young and brillia...,135,Family|Action|Science Fiction,Village Roadshow Pictures|Studio Babelsberg|An...,5/9/2008,5.6,2008
990,tt1409024,225000000,624026776,Men in Black 3,Will Smith|Tommy Lee Jones|Josh Brolin|Michael...,Barry Sonnenfeld,They are back... in time.,Agents J (Will Smith) and K (Tommy Lee Jones) ...,106,Action|Comedy|Science Fiction,Amblin Entertainment|Media Magik Entertainment...,5/23/2012,6.1,2012
512,tt0133152,100000000,362211740,Planet of the Apes,Mark Wahlberg|Tim Roth|Helena Bonham Carter|Mi...,Tim Burton,You'll be sorry you were ever born human,After a spectacular crash-landing on an unchar...,119,Thriller|Science Fiction|Action|Adventure,Twentieth Century Fox Film Corporation|Tim Bur...,7/25/2001,5.5,2001
857,tt0480239,15000000,4627375,Atlas Shrugged Part I,Taylor Schilling|Paul Johansson|Michael O'Keef...,Paul Johansson,Who is John Galt?,"A powerful railroad executive, Dagny Taggart, ...",97,Drama|Thriller|Science Fiction|Mystery,Atlas Productions,4/14/2011,4.8,2011

In [39]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [100]:
answers = {
    1 : '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
    2 : '1157. Gods and Generals (tt0279111)',
    3 : '768. Winnie the Pooh (tt1449283)',
    4 : '110',
    5 : '107',
    6 : '239. Avatar (tt0499549)',
    7 : '1245. The Lone Ranger (tt1210819)',
    8 : '1478',
    9 : '599. The Dark Knight (tt0468569)',
    10 : '1245. The Lone Ranger (tt1210819)',
    11 : 'Drama',
    12 : 'Drama',
    13 : 'Peter Jackson',
    14 : 'Robert Rodriguez',
    15 : 'Chris Hemsworth',
    16 : 'Matt Damon',
    17 : 'Action',
    18 : 'K-19: The Widowmaker',
    19 : '2015',
    20 : '2014',
    21 : 'September',
    22 : '450',
    23 : 'Peter Jackson',
    24 : 'Four By Two Productions',
    25 : 'Midnight Picture Show',
    26 : 'Inside Out, The Dark Knight, 12 Years a Slave',
    27 : 'Daniel Radcliffe & Rupert Grint'
} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget'] #count the profit

def splitting_string (string): # splitting a string
    for i in string:
        i = string.split('|')
        return(i)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [11]:
data.sort_values(['budget'],ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [9]:
data.sort_values(['runtime'],ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data.sort_values(['runtime'],ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [11]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [104]:
data[data.profit == data.profit.max()].original_title.values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [64]:
data[data.profit == data.profit.min()].original_title.values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [63]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [5]:
data[(data.release_year == 2008) &
data.revenue.max()].original_title.values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [106]:
data[(data.profit == data.profit.min()) & (data.release_year <= 2014) & (data.release_year >= 2012)].original_title.values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [61]:
data_genres = data['genres'].str.split('|')  
data_genres.explode().value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [105]:
data_genres = data['genres'].apply(splitting_string).explode().value_counts().index[0]
data_genres

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [57]:
data_profit = data[(data.profit > 0)]# we leave only profitable films
data_genres = data_profit['genres'].str.split('|')  
data_genres.explode().value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [32]:
data['director_list'] = data['director'].str.split('|').copy()
data_director = data.explode('director_list')
data_director.groupby(['director_list'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [31]:
data_action = data[data.genres.str.contains('Action')].copy() # leaving only the action
data_action['director'] = data_action['director'].str.split('|')  
data_action = data_action.explode('director')
data_action.director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [30]:
data_year = data[(data.release_year == 2012)].copy() # 2012 only
data_year['cast_list'] = data_year['cast'].apply(splitting_string)
data_year = data_year.explode('cast_list')
data_year.groupby(['cast_list'])['revenue'].sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [33]:
data_budget = data[data.budget > data.budget.mean()].copy() # budget more than average
data_budget['cast_list'] = data_budget['cast'].apply(splitting_string)
data_budget = data_budget.explode('cast_list')
data_budget['cast_list'].value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [35]:
data_cage = data[data.cast.str.contains('Nicolas Cage')].copy() # only films with Nicolas Cage
data_genres = data_cage['genres'].str.split('|')  
data_genres.explode().value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [107]:
data_companies = data[data.production_companies.str.contains('Paramount Pictures')].copy()
data_companies.groupby(['profit'])['original_title'].min()

profit
-64831034                                  K-19: The Widowmaker
-60519261                                              Timeline
-51788987                                                  Next
-46604061                                                 Alfie
-24805000                                               Twisted
                                    ...
 549713380                 Mission: Impossible - Ghost Protocol
 559709780                                         Transformers
 601636033    Indiana Jones and the Kingdom of the Crystal S...
 686297228                  Transformers: Revenge of the Fallen
 928746996                       Transformers: Dark of the Moon
Name: original_title, Length: 122, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [47]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
data_Warner = data[data.production_companies.str.contains('Warner Bros')].copy() # films Warner Bros
data_Warner.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
import calendar
def splitting_release (string): # splitting a string
    for i in string:
        i = string.split('/')
        return(i)
data['release_date_list'] = data.release_date.apply(splitting_release)    
data['release_date_list'] = data.release_date_list.apply(lambda x: x[0])
month = int(data['release_date_list'].value_counts().index[0]) 
print(calendar.month_name[month])

September

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
data['release_date_list'] = data.release_date.apply(splitting_release)    
data['release_date_list'] = data.release_date_list.apply(lambda x: x[0])
data_summer = data[(data.release_date_list == '6') | (data.release_date_list == '7') | (data.release_date_list == '8')]
len(data_summer)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [108]:
data['release_date_list'] = data.release_date.apply(splitting_release)  
data['release_date_list'] = data.release_date_list.apply(lambda x: x[0])
data_winter = data[(data.release_date_list == '1') | (data.release_date_list == '2') | (data.release_date_list == '12')].copy() 
data_winter['director_list'] = data_winter['director'].str.split('|').copy()
data_director_winter = data_winter.explode('director_list')
data_director_winter['director_list'].value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [74]:
data_quantity = data.copy()
data_quantity['characters'] = data['original_title'].apply(len)
data_quantity['companies'] = data_quantity.production_companies.apply(splitting_string) 
data_quantity = data_quantity.explode('companies')
data_quantity.groupby(['companies'])['characters'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
data_overview = data.copy()
data_overview['view'] = data['overview'].str.split(' ').apply(len)
data_overview['companies'] = data_overview.production_companies.apply(splitting_string) 
data_overview = data_overview.explode('companies')
data_overview.groupby(['companies'])['view'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [68]:
data_rating = data['vote_average'].quantile(0.99)
data_rating = data[data['vote_average'] > data_rating]
data_rating['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [103]:
import collections
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')
collections.Counter(data['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

import pandas as pd
import collections
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')
collections.Counter(data['pairs']).most_common(1)

# Submission

In [102]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{1: '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 2: '1157. Gods and Generals (tt0279111)',
 3: '768. Winnie the Pooh (tt1449283)',
 4: '110',
 5: '107',
 6: '239. Avatar (tt0499549)',
 7: '1245. The Lone Ranger (tt1210819)',
 8: '1478',
 9: '599. The Dark Knight (tt0468569)',
 10: '1245. The Lone Ranger (tt1210819)',
 11: 'Drama',
 12: 'Drama',
 13: 'Peter Jackson',
 14: 'Robert Rodriguez',
 15: 'Chris Hemsworth',
 16: 'Matt Damon',
 17: 'Action',
 18: 'K-19: The Widowmaker',
 19: '2015',
 20: '2014',
 21: 'September',
 22: '450',
 23: 'Peter Jackson',
 24: 'Four By Two Productions',
 25: 'Midnight Picture Show',
 26: 'Inside Out, The Dark Knight, 12 Years a Slave',
 27: 'Daniel Radcliffe & Rupert Grint'}

In [101]:
# и убедиться что ни чего не пропустил)
len(answers)

27